.principal__container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: rgb(7, 81, 83);
}

.fondo {
  background-color: rgba(115, 243, 115, 0.966);
}

.title {
  padding-left: 50px;
  color: black;
  text-transform: uppercase;
}

.containerRules {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rules {
  width: 10%;
  height: 20px;
  background-color: darkblue;
  color: rgb(160, 238, 238);
  text-transform: capitalize;
}

.rulesStyles {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: rgb(160, 238, 238);
  border-radius: 20px;
  color: darkblue;
}

.fill__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form__input {
  background: lightgray;
  height: 20px;
}

.button {
  padding-top: 10px;
}

.button__form {
  height: 20px;
  background-color: lightseagreen;
  color: white;
  text-transform: capitalize;
}

.styles {
  padding-left: 50px;
  color: crimson;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.5s ease-out;
}
